/* Post content area */

#post-title{
  margin: 20px;
  padding:0px;
  grid-column: 1;
  grid-row: 1;
  color:#5d5c61;
}

#author-info{
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
  grid-row: 2;
  margin: 20px;
  height: auto;
}

#author-info img{
  height:100px;
}

#author-info ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-content: space-around;
}

#post-img{
  width:90%;
  margin: 20px;
}

#ingredients{
  margin: 20px;
}

#procedure{
  margin: 20px;

}

.post-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card {
  transition: 0.3s; /*Adds fade in shadow on hover*/
  width: auto;
  border: solid;
  border-color: #b1a296;
  display:block;
  color:#5d5c61;

}



/* Medium Screens
@media (min-width: 601px) and (max-width:1000px) {

.post-grid{
  margin: 20px 10px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}




}

/* Large Screens
@media (min-width:1001px) {

.post-grid{
  margin: 0px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}



}
